/* css styles for cafe purr max*/

/* CSS Reset */
body, header, nav,ul, main, footer, h1, div, img, figure, figcaption, section, article, aside, table, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* CSS variables */
:root{
    --logo-font: "Pacifico", cursive;
    --nav-font: "Amatic SC", sans-serif;
    --sub-font: "Nunito", sans-serif;
    --main-font: "Quicksand", sans-serif;

    --body-color1: #6F4E37;
    --body-color2: #F5E6DA;
    --sub-color1: #D3B8AE;
    --sub-color2: #FFE6CC;
    --sub-color3: #A8C3A5;
    --button-color: #E7A6B1;
    --font-color1: #3E3E3E;
    --font-color2: #4B3F35;
    --font-color3: #FFFFF0;
}

html {scroll-behavior: smooth;}

/*===================================*/
/*Style rules for mobile viewports*/
.mobile{display: block;}

.tablet-desktop{display: none;}

body{
    background-color: var(--body-color2);
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*Style rules for header*/
header{
    background-color: var(--body-color1);
    padding:0;
    width:100%;
}

header .logo {
    position: relative;
    width: fit-content;
    display: inline-block;
    margin:1rem;
}

header .logo img {
    display: block;
    width: 150px;
    height: auto;
    border-radius: 10px;
    color: #D3B8AE;
}

header .logo span {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--sub-color1);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 2.5rem;
    font-family: var(--logo-font);
    white-space: nowrap;
}

/*Style rules for nav*/
nav{
	padding: 0;
	margin-bottom: 0;
    width:100%;
}

nav ul{
    list-style: none;
    margin:2rem auto;
    width:100%;
}

nav ul li{
    border-top: 1px solid var(--font-color3);
    padding: .5rem;
    margin:0;
    font-size:1.5rem;
}

nav ul li:first-child{border-top: none;}

nav a{
    color:var(--font-color3);
    font-family: var(--nav-font);
    text-decoration: none;
    display:block;
}

main{font-family: var(--main-font);}

/*Style rules for body*/
main p{
    color: var(--font-color1);
    font-size:1rem;
    margin:1rem auto;
    width:95%;
}

main h3{color: var(--font-color2);} 

/*Style rules for home navigation*/
.home-nav{margin:2rem auto;}

.home-nav figure{
    margin: 1rem 1rem;
    position: relative;
    overflow: hidden;
    width:95%;
}

.home-nav img{
    max-height: 274px;
    height:274px;
    object-fit: cover;
    display: block;
    width:95%;
}

.home-nav figcaption{
    font-family: var(--sub-font);
    font-size: 4rem;
    color:var(--font-color3);
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}

.home-nav figcaption.smaller-text{
    font-size: 2.7rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.home-nav a{text-decoration: none;}

/*Style rules for logo w/ tag*/

main .logo {
    position: relative;
    width: fit-content;
    display: inline-block;
    padding:0rem;
    margin: 0 auto 4rem;
}

main .logo img {
    display: block;
    width: 150px;
    height: auto;
    border-radius: 10px;
}

main .logo span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--body-color1);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-family: var(--logo-font);
    white-space: nowrap;
}

main .logo span:first-of-type {
    bottom: -2rem;
    font-size: 2.5rem;
}

main .logo span:last-of-type{
    bottom: -3rem;
    font-size: 1rem;
}

/*Style rules for footer*/

footer{
    background-color: var(--body-color1);
    padding:1rem 0;
    text-align: center;
    color: var(--font-color3);
    font-family: var(--sub-font);
    width:100%;
    height:auto;
}

footer .social-links{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom: 1rem;
}

footer .social-links img{
    width:30px;
    margin:0 5px;
    border: 1px solid #000;
    border-radius:35px;
}

footer p{
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: var(--sub-font);
    font-weight: normal;
}

/*style rules for menu*/

.menu h1{color: var(--font-color3);}

.menu{
    background-color: var(--sub-color1);
    border-radius: 25px;
    width:90%;
    height: auto;
    margin:1rem auto;
    padding: 1rem;
    font-weight: bold;
}

.menu .coffee-menu, .menu .juice-menu, .menu .specials-menu{
    background-color: var(--sub-color2);
    width: 95%;
    margin: 1rem auto;
    color: var(--font-color1);
}

.menu .noncoffee-menu, .menu .noncoffee-menu p, .menu .pastries-menu{
    background-color: var(--sub-color3);
    width: 95%;
    margin:1rem auto;
    color:var(--font-color3);
}

.menu h2{
    font-family: var(--sub-font);
    text-decoration: underline;
    padding-top:1rem;
}

.menu table{
    width: 100%;
    font-size: 1.5rem;
    padding:0;
    margin:auto;
}

.menu table th, .menu table td, .menu p{font-family: var(--nav-font);}

.menu table td:first-child, .menu p{text-align: left;}

.menu p{padding-bottom: 1rem;}

.menu h1, .menu h2{text-transform: uppercase;}

/*style rules for order-button*/

#order-button{
    margin:2rem auto;
    padding:1rem;
    background-color: var(--button-color);
    width: 50%;
    border-radius: 25px;
}

#order-button a{
    text-decoration: none;
    font-family: var(--sub-font);
    text-transform: uppercase;
    color:var(--font-color1);
}

/*style rules for cat gallery*/
.cat-gallery{
    background-color: var(--sub-color1);
    border-radius: 25px;
    width:80%;
    height: auto;
    margin:1rem auto;
    padding: 1rem;
    font-weight: bold;
}

.cat-gallery h1{
    color: var(--font-color3);
    text-transform: uppercase;
}

.cat-gallery .cat{
    border-radius: 25px;
    background-color: var(--sub-color2);
    padding:1rem;
    margin:1rem auto;
    font-family: var(--sub-font);
    width:100%;
}

.cat-gallery .cat img{
    width:95%;
    margin:auto;
    border-radius: 25px;
    height:247px;
    object-fit: cover;
}

.cat-gallery .cat h3{
    font-size: 32px;
    margin: 0.5rem 0 0.25rem;
    padding: 0;
    font-weight: bold;
}

.cat-gallery .cat p{
    padding: 0;
    width:100%;
    margin:0.25rem 0 0.25rem;
    font-size:18px;
    font-weight: normal;
}

/*style rules for photo of the week gallery*/
.potw{
    width:95%;
    margin:1rem auto;
    background-color: var(--sub-color1);
    font-family: var(--sub-font);
    border-radius: 25px;
    height:auto;
    padding: 1rem;
}

.potw h1{
    color:  var(--font-color1);
    font-size: 32px;
}

.weekly-gallery{
    background-color: var(--sub-color2);
    border-radius: 25px;
    margin:1rem auto;
    padding: 0.5rem 0 1rem;
}

.weekly-gallery img{
    width:95%;
    margin: auto;
    padding:1rem;
    border-radius: 25px;
    height:283px;
}

.weekly-gallery figcaption{
    font-style: italic;
    margin:0 auto;
    color:var(--font-color1);
    padding:0;
}

.weekly-gallery p{
    font-style: italic;
    margin:0 auto;
    text-align: right;
    padding:1rem;
}

.potw h2{
    color:  var(--font-color1);
    font-size: 24px;
    padding:0;
    margin:0;
}

/*style rules for submission form*/
.submission-form{
    background-color: var(--sub-color3);
    border-radius: 25px;
    margin:1rem auto;
}

fieldset {
    border: none;
    width: 100%;
    padding:1rem 0;
    margin: 1rem auto;
    font-family: var(--sub-font);
    color:var(--font-color1);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "form-name form-name"
        "form-picture form-caption"
        "submit submit";
    gap:20px;
    align-items: center;
    justify-items: center;
}

.form-name{grid-area: form-name; width:100% ;}

.form-picture{grid-area: form-picture; width:100%;}

.form-caption{grid-area: form-caption; width:100%;}

.submit{grid-area: submit;}

.form-name label, .form-picture label, .form-caption label {white-space: nowrap;}

.form-name input[type="text"]{
    padding: 0.5rem;
    font-size: 1rem;
    width: 73%;
}

.form-caption input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    width: 80%;
}

.form-picture input[type="file"]{
    padding: 0.5rem;
    font-size: 1rem;
    width: 70%;
}

input[type="submit"] {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    background-color: var(--button-color);
    color: var(--font-color1);
    border-radius: 25px;
    margin: auto;
    width:120%;
    height:50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

/*style rules for articles*/
.articles{
    width:95%;
    margin:auto;
}
.articles p{
    font-family: var(--main-font);
    color: var(--font-color1);
    text-align: left;
    width: 99%;
    margin: 0.5rem auto 1rem;
}

.articles img, .articles iframe{
    height: 250px;
    margin:auto;
    width:100%;
    object-fit: cover;
}

.articles h2{
    text-align: left;
    color:var(--font-color2);
    margin:1rem auto 0;
}

/*style rules for visiting guideline section*/
.visiting-guideline{
    width:90%;
    margin:auto;
    border-top:1px solid var(--font-color2);
}

.visiting-guideline h1{
    width:50%;
    text-align: center;
    margin:1rem auto;
    color:var(--font-color2);
    font-size: 24px;
}


.visiting-guideline ol{
    color:var(--font-color1);
    width:95%;
    margin:0 auto 2rem;
    padding-left: 1.5rem;
}

.visiting-guideline li{
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 20px;
}

/*style rules for visit us page*/
.container{
    width:95%;
    margin:0 auto 0;
    padding:0 0 1rem;
}

.container iframe{
    width:100%;
    border:1px solid #000;
    margin: 1rem auto 1rem;
}

.container p{
    width:70%;
    margin:1rem auto 0.5rem;
    color:var(--font-color1);
}

.container h1{
    color:var(--font-color1);
    margin:auto;
}

.container h3{
    color:var(--font-color1);
    margin:auto;
}

.mobile-contact{
    background-color: var(--button-color);
    width:80%;
    margin:0 auto 1rem;
    padding: 0.5rem;
}

.container a{text-decoration: none;}

.mobile-contact p:first-child{margin:0 auto;}

.mobile-contact p:nth-child(2){
    font-weight:bold;
    margin:0 auto;
    font-size: 20px;
}

.container p.bold{
    font-weight: bold;
    margin-bottom: 2rem;
}

/* hamburger menu for mobile viewport */
a.icon, main .logo{display: none;}

@media screen and (max-width:629px), print{
  nav#myLinks {
    display: block;
  }

  nav#myLinks.hide {
    display: none;
  }

  a.icon {
    background: var(--body-color1);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 1000;
  }

  a.icon i{
    font-size:32px;
    color:var(--sub-color1);
  }

  main .logo{display: block;}
}

/*================================================================================================*/
/* MEDIA QUERY FOR TABLET VIEWPORT*/
/* Tablet Viewport: Show tablet-desktop class, hide mobile class*/
@media screen and (min-width:630px), print{
	.tablet-desktop{display: block;}
	
	.mobile{display: none;}

/* Tablet Viewport: Style rule for header*/
	header{
		position: static;
        padding-bottom: .25em;
	}

/* Tablet Viewport: Style rule for nav area*/
	nav ul{margin:1em auto 1em;}

    nav ul li{
		border-top: none;
		display: inline-block;
		border-right:1px solid var(--font-color3);
	}
	
	nav li:last-child{border-right:none;}
	
	nav li a{
        padding:0.1em 0 0;
        font-size: 1.25em;
        margin:0 .75em;
    }
	
	nav li a:hover{
		color:var(--body-color1);
		background-color:var(--font-color3);
	}

/* Tablet Viewport: Style rule for homenav area*/
    .home-nav{width:90%;}

    .visit-us, .order-now {
        display: grid;
        grid-template-areas: "nav-image caption";
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 2rem auto;
    }

    .visit-us .nav-image, .order-now .nav-image {
        grid-area: nav-image;
        height: 100%;
    }

    .visit-us .nav-image img, .order-now .nav-image img  {
        width: 100%;
        object-fit: cover;
    }

    .visit-us .caption, .order-now .caption {
        grid-area: caption;
        background-color: var(--sub-color3);
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;  
        padding: 2rem; 
    }

    .visit-us .caption p, .order-now .caption p  {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color:var(--font-color3);
    }

    .visit-us .caption .buttons, .order-now .caption .buttons {
        display: inline-block;
        background-color: var(--button-color);
        color: var(--font-color1);
        text-decoration: none;
        border-radius: 25px;
        width:100%;
        padding: .75rem;
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    .our-menu, .furry-companions {
        display: grid;
        grid-template-areas: "caption nav-image";
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 2rem auto;
    }

    .our-menu .nav-image, .furry-companions .nav-image {
        grid-area: nav-image;
        height: 100%;
    }

    .our-menu .nav-image img, .furry-companions .nav-image img  {
        width: 100%;
        object-fit: cover;
    }

    .our-menu .caption, .furry-companions .caption {
        grid-area: caption;
        background-color: var(--sub-color2);
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;  
        padding: 2rem; 
    }

    .our-menu .caption p, .furry-companions .caption p  {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color:var(--font-color1);
        width:75%;
    }

    .our-menu .caption .buttons, .furry-companions .caption .buttons {
        display: inline-block;
        background-color: var(--sub-color1);
        color: var(--font-color3);
        text-decoration: none;
        border-radius: 25px;
        width:100%;
        padding: .75rem;
        font-size: 1.25rem;
        text-transform: uppercase;
    }

/* Tablet Viewport: Style rule for menu*/
    .menu{
        width:95%;
        margin: 1rem auto;
        padding: 1.5rem;
    }

    .menu h1{font-size: 3rem;}

    .menu-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "coffee coffee noncoffee"
            "coffee coffee juice"
            "specials specials pastries";
        gap: 1px;
        margin: 1px auto;
    }

    .coffee-menu {
        grid-area: coffee;
        margin:0;
        padding:1rem;
    }

    .coffee-menu table {
        height:80%;
        font-size:2.5rem;
        padding:1rem 0;
    }

    .coffee-menu h2 {
        font-size:3rem;
        margin:0 auto 0;
        padding:0;
        text-align: left;
    }

    .coffee-menu p {
        font-size:2.5rem;
        margin:0 auto 0;
        padding:1rem;
        text-align: left;
    }

    .specials-menu {
        grid-area: specials;
        padding:1rem;
        margin:0;
    }

    .specials-menu table {
        height:70%;
        font-size:2.5rem;
        padding:0;
    }

    .specials-menu h2 {
        font-size:3rem;
        margin:0 auto 0;
        padding:0 1rem 1rem;
        text-align: left;
    }

    .noncoffee-menu {
        grid-area: noncoffee;
        padding:.5rem;
        margin:0;
    }

    .noncoffee-menu h2 {
        font-size:1.5rem;
        margin:0 auto 0;
        padding:0 .5rem 1rem;
        text-align: left;
    }

    .noncoffee-menu table {
        font-size:1.5rem;
        padding:1rem 0;
        height:70%;
    }

    .noncoffee-menu p {
        font-size:1.25rem;
        margin:0;
        padding:0;
        text-align: left;
    }

    .juice-menu {
        grid-area: juice;
        padding:.5rem;
        margin:0;
    }

    .juice-menu table {
        font-size:1.5rem;
        padding:1rem 0;
        height:70%;
    }

    .juice-menu p {
        font-size:1.25rem;
        margin:1rem 0 0;
        padding:0;
        text-align: left;
    }

    .juice-menu h2 {
        font-size:1.5rem;
        margin:0 auto 0;
        padding:0 .5rem 1rem;
        text-align: left;
    }

    .pastries-menu {
        grid-area: pastries;
        padding:.5rem;
        margin:0;
    }

    .pastries-menu table {
        font-size:1.25rem;
        padding:1rem;
        height:80%;
    }

    .pastries-menu h2 {
        font-size:1.5rem;
        margin:0 auto 0;
        padding:0 .5rem 1rem;
        text-align: left;
    }

    .pastries-menu table {
        font-size:1.5rem;
        padding:1rem 0;
        height:90%;
    }

    /* Tablet Viewport: Style rule for order button*/
    #order-button{
        width:30%;
        font-size:1.5rem;
    }

    /* Tablet Viewport: Style rule for cat gallery*/

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "cat1 cat2"
            "cat3 cat4"
            "cat5 cat6"
            "cat7 cat8";
        margin: 1rem auto;
        padding:1px 0;
        width:90%;
        gap:20px;
    }

    .cat-gallery .cat{margin:0 auto;}

    .cat-gallery h1, .potw h1{
        font-size: 2.5rem;
        margin:0 auto 1rem;
    }

    .potw{width:80%;}

    .potw .weekly-gallery{
        width:65%;
        font-size: 1.5rem;
    }

    .potw .weekly-gallery img{width:99%;}

    fieldset{width:70%;}

    input[type="submit"] {width:100%;}

    /* Tablet Viewport: Style rule for about page*/
    .about-cafe{
        width:100%;
        margin:1rem auto 1rem;
    }

    .about-cafe h1{
        font-weight: bold;
        color:var(--font-color2);
        margin:1rem auto;
    }

    .about-cafe p{
        width:100%;
        margin:1rem auto;
        font-size: 1.25rem;
        color: var(--font-color1);
    }

    .vision-mission{
        height:auto;
        margin:.5rem auto .5rem;
        background-color: var(--sub-color1);
        border-radius: 25px;
        padding:.5rem 0;
        width: 95%;
    }

     .vision-mission .mission, .vision-mission .vision{
        background-color: var(--sub-color2);
        width:95%;
        margin:1rem auto 1rem;
        padding:0.1rem 1rem 0.1rem;
        border-radius: 25px;
        height: auto;
     }

     .vision-mission h2{
        margin:auto;
        color: var(--font-color2);
        padding:.5rem;
     }

     .vision-mission p{
        font-size:1.25rem;
        margin-top: 0;
        width:100%;
     }

     /* Tablet Viewport: Style rule for articles*/
     .articles{
        width:70%;
        margin:2rem auto;
        text-align: center;
     }

     .articles iframe, .articles img{height:332px;}

     .articles p{
        text-align: center;
        font-size: 1.25rem;
     }

     .articles h2{
        text-align: center;
        font-size: 1.5rem;
     }

     /* Tablet Viewport: Style rule for visiting guidelins*/

     .visiting-guideline{
        background-color: var(--sub-color1);
        padding:0.5rem;
        margin:1rem auto;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
     }

     .visiting-guideline h1{
        font-size: 2rem;
        margin:0 auto 1rem;
     }

     .visiting-guideline ol li{font-size: 22px;}

     /* Tablet Viewport: Style rule for about*/
     .container{
        width:50%;
        margin:2rem auto;
     }

     .container p{
        font-size: 22px;
        width: 100%;
     }

     .container h1{
        font-size: 36px;
        margin-bottom: 0;
     }

     .container h3{
        font-size: 24px;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
     }

     .container iframe{height:289px;}

     .container .email-contact{
        background-color: var(--button-color);
        width:100%;
        margin:0 auto 1rem;
        padding: 0.5rem;
     }

     .container .email-contact p:first-child{margin:0 auto;}

    .email-contact p:nth-child(2){
        font-weight:bold;
        margin:0 auto;
        font-size: 30px;
    }

    footer .social-links img{width: 40px;}
} 
/*================================================================================================*/
/* MEDIA QUERY FOR DESKTOP VIEWPORT*/
@media screen and (min-width:1024px), print{
/* Desktop Viewport: Style rule for header*/
	header{
		width:100%;
		padding:1rem 0 0 5rem;
        overflow:hidden;
	}

    header .logo{float:left;}

/* Desktop Viewport: Style rule for nav area*/
	nav{
		float: right;
		width: 80%;
		margin: 4em 0 0;
	}
	
	nav ul{text-align: right;}
	
	nav ul li{
        border:none;
        font-size: 2rem;
        padding: 0.5rem 1rem;
        margin:0 0 1rem;
    }
	
	nav li a:hover{
		color: var(--body-color1);
		background-color: var(--font-color3);
	}

    .intro{
        width:100%;
        padding:0 0 2rem;
        margin:1rem auto;
    }

    .intro p{
        font-size: 1.5rem;
        text-align: left;
        width: 90%;
        display: block;
    }

    /* Desktop Viewport: Style rule for homenav area*/

    .home-nav figure {
        display: inline-block;
        vertical-align: top;
        width: 24%;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .visit-us img {
        display: block;
        width: 100%; 
    }

    .home-nav .caption {
        text-align: center;
        display: block;
        height: 200px;
    }

    .caption p{
        margin: 0 auto; 
        display: block;
        width:70%;
    }

    .caption a.buttons {
        margin: 0 auto; 
        display: block;
        width:70%; 
    }

    /* Desktop Viewport: style rules for menu area*/

    .menu-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "coffee coffee noncoffee noncoffee"
            "juice juice pastries pastries"
            ". specials specials .";
        margin: 0 auto;
        padding:2rem;
        width:90%;
        gap:20px;
    }

    .coffee-menu {
        grid-area: coffee;
        height:500px;
    }

    .menu h1{font-size: 4rem;}

    .coffee-menu table{
        font-size: 2rem;
    }

    .coffee-menu p{
        font-size: 1.5rem;
        padding:0;
    }

    .noncoffee-menu {
        grid-area: noncoffee;
        height:500px;
    }

    .noncoffee-menu h2{
        font-size: 3rem;
        padding:0;
    }

    .noncoffee-menu table{font-size: 2rem;}

    .noncoffee-menu p{font-size: 1.5rem;}

    .juice-menu {
        grid-area: juice;
        height:500px;
    }

    .juice-menu h2{font-size: 3rem;}

    .juice-menu table{
        font-size: 2rem;
        padding:0;
    }

    .juice-menu p{
        font-size: 1.5rem;
        padding: 0;
        margin: 1rem 0;
    }

    .pastries-menu {
        grid-area: pastries;
        height:500px;
    }

    .pastries-menu table{
        height:85%;
        font-size: 2rem;
        padding-top: 0;
    }

    .pastries-menu h2{font-size: 3rem;}

    .specials-menu {
        grid-area: specials;
        height:380px;
    }

    .specials-menu table{
        height:75%;
        font-size: 2rem;
    }

    /* Desktop Viewport: style rules for order*/

    #order-button {
        width: 20%;
        height: 90px;
        display: flex;
        align-items: center;      
        justify-content: center;  
    }

    /* Desktop Viewport: style rules for cat gallery*/

    .cat-gallery{
        width:90%;
        margin-bottom: 2rem;
    }

    .cat-gallery h1{margin:1rem 0 2rem;}

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "cat1 cat2 cat3 cat4"
            "cat5 cat6 cat7 cat8";
        margin: 1rem auto;
        padding:1px 0;
        width:99%;
        gap:10px;
    }

    /* Desktop Viewport: style rules for photo of the week gallery*/

    .potw{
        width:90%;
        padding:0 0 1rem;
    }

    .potw h1{margin: 0;}

    .potw .weekly-gallery{
        width:30%;
        margin-top: 0;
    }

    .potw h2{font-size: 2rem;}

    .potw .submission-form{
        width:90%;
        padding:0;
    }

    input[type="submit"] {width: 200px;}

    fieldset{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "form-name form-picture form-caption"
            ". submit .";
        margin: 1rem auto;
        padding:1rem;
        width:99%;
        row-gap:20px;
        column-gap: 0;
    }

    .form-caption input[type="text"] {width: 50%;}

    .about-cafe{
        text-align: left;
        width:90%;
        margin:3rem auto;
    }

    .about-cafe h1, .visiting-guideline h1{font-size: 3rem;}

    .about-cafe p, .vision-mission p, .articles p, .visiting-guideline ol li{font-size: 1.5rem;}

    .vision-mission{
        width:90%;
        display: grid;
        grid-template-areas: "mission vision";
        gap:20px;
        padding:2rem;
    }

    .vision-mission h2, .articles h2{
        font-size: 2rem;
        margin:.5rem;
    }

    .articles{
        width: 90%;
        display: grid;
        grid-template-areas: "article1 article2 article3";
        gap:20px;
    }

    .visiting-guideline ol{
        width:60%;
        text-align: justify;
    }

    /* Desktop Viewport: style rules for about page*/
    .container{margin-bottom: 0; margin-top: 0;}

    .container iframe{
        width: 450px;
        height: 450px;
    }

    .container p:nth-of-type(2){width:35%;}

    .container p{font-size: 1.5rem;}

    .container h1{font-size: 3rem;}

    .container h2{font-size: 2rem;}

    .container .email-contact{
        width: 50%;
        padding-bottom: 1.5rem;
    }

    .container .email-contact p{width:100%;}

    .container .email-contact p:first-of-type{font-size: 1.25rem;}

    .container .email-contact p:nth-of-type(2){font-size: 2rem;}

    .container p.bold{margin-top: 2rem;}

    /* Desktop Viewport: style rules for footer*/

    footer .social-links img{width: 50px;}

    footer p{font-size: 16px;}
}